.card{
    width: 300px !important;
}

.card-body{
    height: 185px;
    gap: 20px;
    display: flex;
    flex-direction: column; 
    & button {
        background-color: #56c9a0 !important;
        height: 45px;
        font-size: 14px;
        font-family: 'Merriweather Sans, sans-serif';
        border-color: #29b081;

        border-color: transparent;
        &:hover{
            background-color: #29b081 !important;
            border-color: transparent;
        }
        &:active{
            /* background-color: #29b081 !important; */
            border-color: #29b081;
        }
    }
    & p{
        font-size: 14px;
        font-family: 'Merriweather Sans, sans-serif'
    }
}

.card-title {
    font-family: 'Montserrat, sans-serif';
    font-size: 16px !important;
}